body {
    text-align: center;
}

#video {
    width: 100%;
    height: 500px;
    border: none;
}

p {
    size: 50px;
}

.achieve_head {
    font-size: x-large;
    border-radius: 10px;
    padding: 6px 15px;
    margin-bottom: 25px;
}
.achieve_head i {
    float: right;
}

.achievements span {
    color: rgb(255, 200, 0);
}